 <!DOCTYPE html>  
<html>  
<head>  
<title>Output Tag</title>  
</head>  
<body>  
 <p>Regular expression checking</p>  
 <form oninput="res.value=parseInt(a.value)+parseInt(b.value);">  
    <label>Enter Regular Expression</label><br>  
    <input type="string" name="rexp" value=""/><br>  
    <br/>  
    
    <label>Test String</label><br>   
    <input type="string" name="tstring" value=""><br> 
    
    <input type="submit" value="SUBMIT">
    <br>  
 </form>  
 <form oninput="res.value=parseInt(a.value)+parseInt(b.value);">
   <label>Output Matching Variables</label><br>  
   <input type="string" name="tstring" value=""/><br>  
   <br/>
 </form>
</body> 
</html> 
